@import "./nav.css";
@import "./tabs.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #333;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
main ul {
  list-style: none;
  display: flex;
}
main ul li {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #777;
  margin: 0 20px;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: none;
}
main ul li:hover,
main ul li:focus {
  background-color: #86ff3b;

  box-shadow: 0 0 0 4px #333, 0 0 0 6px #86ff3b;
}
main ul li .content {
  position: absolute;
  bottom: 50px;
  padding: 20px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%, -50px);
  background-color: #fff;
  min-width: 400px;
  transition: 0.5s;
  z-index: 1000;
}
main ul li .content::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #fff;
  bottom: -10px;
  left: 50%;
  transform: rotate(45deg);
}
ul li:hover .content,
ul li:focus .content,
ul li:focus-within .content {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0px);
}
